<!DOCTYPE html>
<html lang="uk">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Форум</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% block header %}
        <header>
            <h1><a href="{% url 'main' %}">GeekForum.ua</a></h1>
            <nav>
                <ul class="nav-links">
                    <li><a href="{% url 'games' %}">Ігри</a></li>
                    <li><a href="{% url 'computers' %}">Комп'ютери</a></li>
                    <li><a href="{% url 'programming' %}">Програмування</a></li>
                    <li><a href="{% url 'news' %}">Новини</a></li>
                </ul>
                
                <div class="register-button">
                    {% if request.user.is_authenticated %}
                        <div class="user-info">
                            <span>Вітаю, <a class="username-link" href="{% url 'profile' %}">{{ request.user.username }}</a>!</span>
                            <a href="{% url 'logout' %}" class="btn">Вихід</a>
                        </div>
                    {% else %}
                        <a href="{% url 'login' %}" class="btn">Вхід</a>
                        <a href="{% url 'register' %}" class="btn">Реєстрація</a>
                    {% endif %}
                </div>
                
            </nav>
        </header>
    {% endblock %}



    {% block content %}
    <main>
        <section class="forum-topics">
            <h2>Усі треди</h2>
            <div class="card-container">
                {% for data in forum %}
                    {% if data %}   
                    <div class="card">
                        <h3><a href="{% url 'post' data.id %}">{{data.title}}</a></h3>
                        <p>{{ data.forum_choise }}</p>
                        <span class="date">{{ data.date_of_post }}</span>
                        {% for usr in user %}
                            <span class="username">Автор: {{ usr.username }}</span> 
                        {% endfor %}
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </section>
    </main>
    {% endblock %}

    {% block footer %}
        <footer>
            <p>&copy; 2025 GeekForum.ua. Всі права захищені.</p>
        </footer>
    {% endblock %}
</body>
</html>